@font-face {
	font-family: 'Spartan';
	src: url('../fonts/Spartan-Black.eot');
	src: local('вє'), url('../fonts/Spartan-Black.woff') format('woff'), url('../fonts/Spartan-Black.ttf') format('truetype'), url('../fonts/Spartan-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('../fonts/Spartan-Bold.eot');
	src: local('вє'), url('../fonts/Spartan-Bold.woff') format('woff'), url('../fonts/Spartan-Bold.ttf') format('truetype'), url('../fonts/Spartan-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('../fonts/Spartan-ExtraBold.eot');
	src: local('вє'), url('../fonts/Spartan-ExtraBold.woff') format('woff'), url('../fonts/Spartan-ExtraBold.ttf') format('truetype'), url('../fonts/Spartan-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('../fonts/Spartan-ExtraLight.eot');
	src: local('вє'), url('../fonts/Spartan-ExtraLight.woff') format('woff'), url('../fonts/Spartan-ExtraLight.ttf') format('truetype'), url('../fonts/Spartan-ExtraLight.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('../fonts/Spartan-Light.eot');
	src: local('вє'), url('../fonts/Spartan-Light.woff') format('woff'), url('../fonts/Spartan-Light.ttf') format('truetype'), url('../fonts/Spartan-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('../fonts/Spartan-Medium.eot');
	src: local('вє'), url('../fonts/Spartan-Medium.woff') format('woff'), url('../fonts/Spartan-Medium.ttf') format('truetype'), url('../fonts/Spartan-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('../fonts/Spartan-Regular.eot');
	src: local('вє'), url('../fonts/Spartan-Regular.woff') format('woff'), url('../fonts/Spartan-Regular.ttf') format('truetype'), url('../fonts/Spartan-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('../fonts/Spartan-SemiBold.eot');
	src: local('вє'), url('../fonts/Spartan-SemiBold.woff') format('woff'), url('../fonts/Spartan-SemiBold.ttf') format('truetype'), url('../fonts/Spartan-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('../fonts/Spartan-Thin.eot');
	src: local('вє'), url('../fonts/Spartan-Thin.woff') format('woff'), url('../fonts/Spartan-Thin.ttf') format('truetype'), url('../fonts/Spartan-Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}